/* General Styles */
html {
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

a img {

    display: block;

    width: 100%;

    height: auto;

}

/* 
 =============================================================== Header Section ============================================================================
*/
header {
    background-color: #000;
    color: #fff;
    padding: 0; /* Remove padding from header */
    height: 113px; /* Set fixed height for header */
    position: relative; /* Set position to relative to contain absolutely positioned children */
}

.scroll-icon {
    position: fixed;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    z-index: 1000; /* Ensure it stays on top */
}

.scroll-icon img {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    cursor: pointer;
}

/*
=============================================================== Navigation Section ==========================================================================
*/
nav ul {
    list-style: none;
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Divide evenly */
    font-weight: bold;
    font-size: larger;
    padding: 0;
    margin: 0;
    width: 100%; /* Ensure it spans the full width */
    height: 100%; /* Ensure it spans the full height */
    position: absolute; /* Position absolutely within the header */
    top: 0;
    left: 0;
}

nav li {
    margin: 0;
    text-align: center; /* Center-align the text */
    display: flex; /* Use flex layout */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

nav a {
    text-decoration: none;
    color: #fff;
    display: flex; /* Use flex layout */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    width: 100%; /* Ensure the link spans the full width of the li */
    height: 100%; /* Ensure the link spans the full height of the li */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

nav a:hover {
    background-color: #fff;
    color: #000;
    border: 4px solid #000; /* Add black outline */
}

/* Mobile Styles for Header */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        display: flex; /* Switch to flex layout for mobile */
        padding-top: 20px;
    }

    nav li {
        margin: 10px 0;
    }

    header {
        padding: 30px 0;
    }
}

/* Image Styles */
img {
    max-width: 100%;
}

/*
=============================================================== Start Section ==========================================================================
*/
.full-screen-section {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Increase space below the full-screen section */
}

/* Hero Section */
.hero--section--title span {
    display: inline-block;
    max-width: 100%; /* Ensure it doesn't exceed the viewport width */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */
}

/* Hero Section */
.hero--section--title {
    font-size: 2em;
    color: black;
}

@media (max-width: 768px) {
    .hero--section--title {
        font-size: 1.25em; /* Reduce font size for mobile */
    }
}

.typed-cursor--blink {
    font-weight: 100;
    font-size: 1.25em;
    color: black;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Profile Photo */
.profile-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 80px;
    border: 4px solid #000;
    object-fit: cover;
}

/*
=============================================================== Profile Section ==========================================================================
*/
.about-container {
    display: flex;
    align-items: center;
    gap: 0px;
    margin-bottom: -30px; /* Use negative margin to further decrease space below the about section */
    padding-top: 40px; /* Increase space above the about section */
}

.about-text {
    max-width: 600px;
}

.about-text h1 {
    font-size: 3em;
    margin-bottom: 0px;
}

.about-text p {
    font-size: 1.2em;
    margin-bottom: 45px;
}

.about-text p .light-text {
    font-weight: 300;
    font-style: italic;
}

/* Mobile Styles for About Section */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the start */
        padding: 0 15px; /* Add padding to prevent overflow */
        text-align: center;
    }

    .about-text {
        width: 100%; /* Ensure full width */
        max-width: none; /* Remove max-width constraint */
    }

    .about-text h1 {
        font-size: 1.5em;
    }

    .about-text p {
        font-size: 1em;
    }
}


/*
=============================================================== Skills Section ==========================================================================
*/
.skills-container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    opacity: 1; /* Ensure container is visible */
    transform: translateY(20px); /* Start slightly below */
    transition: opacity 1.5s ease-out, transform 1.5s ease-out; /* Smooth transition */
    padding-bottom: 50px;
}

.skills-container.is-visible {
    opacity: 1; /* Fade in */
    transform: none; /* Move to original position */
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}
.skill-category {
    text-align: center;
    position: relative;
    opacity: 0; /* Hide initially */
    transition: opacity 1.25s ease-in-out; /* Slow down fade-in effect */
}


.skill-category strong {
    display: block;
    font-size: 1.75em;
    margin-bottom: 10px;
}

.skill-category::after {
    content: "";
    display: block;
    width: 85%;
    height: 2px;
    background-color: #000;
    margin: 10px auto;
}

.skill-category:last-child::after {
    display: none;
}

.skill-item {
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    opacity: 0; /* Hide initially */
    transition: opacity 1s ease-in-out; /* Smooth fade-in effect */
}

.skill-item img {
    width: 75px;
    height: 75px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.skill-item p {
    margin-top: 5px;
    font-size: 14px;
}

.skills-container h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.skill-category.is-visible, .skill-item.is-visible {
    opacity: 1; /* Fade in when the 'is-visible' class is added */
}

/* Mobile Styles for Skills Section */
@media (max-width: 768px) {
    .skills-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .skills-container h2 {
        grid-column: span 1;
    }

    .skills {
        height: auto;
        padding: 20px;
    }
}

/*
=============================================================== Project Section ==========================================================================
*/
.project-even-fade.is-visible,
.project-odd-fade.is-visible {
    opacity: 1;
    transform: none;
}

.project-even-fade,
.project-odd-fade {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out;
    margin-bottom: 40px;
    /* padding: 20px; */
    display: flex;
    align-items: center;
}

.project-even-fade {
    flex-direction: row; /* Align items in a row */
    text-align: left;
}

.project-odd-fade {
    flex-direction: row-reverse; /* Align items in a row, reverse order */
    text-align: right;
}

.project-even img,
.project-odd img {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.project-even img {
    margin-right: 20px; /* Space between image and text */
}

.project-odd img {
    margin-left: 20px; /* Space between image and text */
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-even-fade h3,
.project-odd-fade h3 {
    padding: 40px;
    position: relative;
}

.project-even-fade h3::after,
.project-odd-fade h3::after {
    content: '';
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: white;
}

.project-even-fade h3::after {
    right: 20px; /* Adjust this value as needed */
}

.project-odd-fade h3::after {
    left: 20px; /* Adjust this value as needed */
}

.project-even-fade p,
.project-odd-fade p {
    font-size: 120%;
}

/* Mobile Styles for Projects */
@media (max-width: 768px) {
    .project {
        padding: 20px;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }

    .projects-container {
        grid-template-columns: 1fr;
    }

    .project-even-fade,
    .project-odd-fade {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }

    .project-even-fade h3,
    .project-odd-fade h3 {
        padding: 20px;
        text-align: center; /* Center align text for mobile */
    }

    .project-even-fade p,
    .project-odd-fade p {
        padding: 20px;
        text-align: center; /* Center align text for mobile */
    }

    .project-even-fade h3::after,
    .project-odd-fade h3::after {
        display: none; /* Hide vertical lines on mobile */
    }
}

/*
=============================================================== Contact Section ==========================================================================
*/
.contact {
    margin-bottom: -30px;
    border: 6px solid #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
}

.contact li {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-left: -55px;
}

.contact li i {
    margin-right: 10px;
}

.contact a {
    text-decoration: none;
    color: inherit;
}

/* Inverse Section */
.inverse-section {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
}

.inverse-section h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
    text-align: center;
}

/* 
=============================================================== Certifications ============================================================================
*/
.certs {
    display: grid;
    width: 100%;
    background-color: #fff;
    padding: 20px;
}

.certs-container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    opacity: 1; /* Ensure container is visible */
    transform: translateY(20px); /* Start slightly below */
    transition: opacity 1.5s ease-out, transform 1.5s ease-out; /* Smooth transition */
    padding: 0px;
    padding-bottom: 40px;
}

.certs-container.is-visible {
    opacity: 1; /* Fade in */
    transform: none; /* Move to original position */
}

.certs-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}
.certs-category {
    text-align: center;
    position: relative;
    opacity: 0; /* Hide initially */
    transition: opacity 1.25s ease-in-out; /* Slow down fade-in effect */
}


.certs-category strong {
    display: block;
    font-size: 1.75em;
    margin-bottom: 10px;
}

.certs-category::after {
    content: "";
    display: block;
    width: 85%;
    height: 2px;
    background-color: #000;
    margin: 10px auto;
}

.certs-category:last-child::after {
    display: none;
}

.certs-item {
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    opacity: 0; /* Hide initially */
    transition: opacity 1s ease-in-out; /* Smooth fade-in effect */
}

.certs-item img{
    width: 150px;
    height: 150px;
}

.certs-container h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.certs-category.is-visible, .certs-item.is-visible {
    opacity: 1; /* Fade in when the 'is-visible' class is added */
}


/*
=============================================================== About Me Section ==========================================================================
*/
#Me .More-on-Me {

    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    background-color: #000;
    background-size: 100%;
    padding-bottom: 20px;
}

#Me p {
    color: #fff;
}

#Me .columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 20px; /* Adjust the gap between columns as needed */
    margin-left: 52px;
}

#Me .column {
    max-width: 90%;
}

#Me h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 30px;
    color: #fff;
}

#Me h3 {
    font-size: 2em;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #fff;
}

#Me .column:not(:last-child) {
    border-right: 1px solid #fff; /* Adjust color and thickness as needed */
    height: 95%;
    padding-right: 45px; /* Adjust the padding value as needed */
    margin-top: 5%; /* Adjust the margin value as needed to move the element down */
}

#Me .column:nth-child(1) {
    text-align: left; /* Align text to the left for the first column */
    line-height: 1.5; /* Add extra space between words */
}

#Me .column:nth-child(2) {
    text-align: center; /* Align text to the center for the second column */
    line-height: 1.5; /* Add extra space between words */
}

#Me .column:nth-child(3) {
    text-align: right; /* Align text to the right for the third column */
    line-height: 1.5; /* Add extra space between words */
}

/* Mobile Styles for Me Section */
@media (max-width: 768px) {
    #Me .columns {
        display: block; /* Stack columns vertically */
    }

    #Me .column {
        border-right: none; /* Remove border on mobile */
        padding-right: 0; /* Remove padding on mobile */
        margin-bottom: 20px; /* Add space between sections */
        text-align: center; /* Center align text for mobile */
    }

    #Me .column h3 {
        margin-bottom: 10px; /* Add space between title and paragraph */
    }

    #Me .column p {
        margin-bottom: 20px; /* Add space between paragraphs */
        border-bottom: none; /* Remove lines after paragraphs */
    }
    #Me .column:nth-child(1) {
        text-align: center; /* Align text to the left for the first column */
        line-height: 1.5; /* Add extra space between words */
    }
    
    #Me .column:nth-child(2) {
        text-align: center; /* Align text to the center for the second column */
        line-height: 1.5; /* Add extra space between words */
    }
    
    #Me .column:nth-child(3) {
        text-align: center; /* Align text to the right for the third column */
        line-height: 1.5; /* Add extra space between words */
    }

    #Me .column:not(:last-child) {
        border-right: 0px solid #000; /* Adjust color and thickness as needed */
    }
    
}

/*
=============================================================== Weather Section ==========================================================================
*/

/* Weather App Styles */
#Weather-App {
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 40px 0;
    text-align: center;
}

#Weather-Container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid #fff;
}

#Weather-Container h2, #Weather-Container label, #Weather-Container p {
    color: #fff;
    margin: 8px 0;
    text-transform: capitalize;
}

#Weather-Container input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

#Weather-Container button {
    background: #fff;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}

#Weather-Container button:hover {
    background: #ccc;
}

#temp{
    font-size: 40px;
    margin-top: -30px;
    font-weight: bold;
}

#info {
    font-size: 30px;
}

.time-zone {
    font-size: 12px;
    color: #fff;
    white-space: normal;
    word-wrap: break-word;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0px auto 10px;
    margin-bottom: 0px;
    display: none;
}

#hourly {
    margin-top: 50px;
    margin-bottom: 10px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: #fff;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}

.time-zone {
    white-space: normal;
    word-wrap: break-word;
}


/*
=============================================================== Contact Section ==========================================================================
*/
.contact-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    gap: 20px;
    text-align: center; /* Center-align the text */
}

.contact-container h2 {
    margin-bottom: 0px; /* Reduce space between h2 and ul */
}

/*
=============================================================== Back to Top Section ==========================================================================
*/
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Initially hidden */
    z-index: 1000;
}

#back-to-top a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #000; /* Default background color */
    color: #fff; /* Default arrow color */
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    padding-bottom: 2px;
}
/*
=============================================================== Footer Section ==========================================================================
*/
footer {
    text-align: center;
    padding-bottom: 40px;
    background-color: #fff;
    color: #000;
}

/* Container Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
}